*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
body{
    background: url(assests/images/home-bg-img.jpg) no-repeat;
    background-size: cover;
}
.container{
    width:100%;
    height: 100vh;
    background-image:linear-gradient(206deg, #0984e2a0,#ff0000af);
}
.logo{
    margin:auto;
    display: block;
    padding-top:100px;
}
.container h1{
    text-align: center;
    color:#fff;
    padding:20px 0;
    text-shadow:3px 3px 3px midnightblue;
}
.container .projects{
    text-align: center;
}
.container a{
    display: inline-block;
    color:#0984e3;
    text-decoration: none;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    transition: .5s;
}
.container a:hover{
    transform: rotate(360deg);
}