@media (min-width:320px) and (max-width:480px){
    .link{
      flex-direction: column;
     }
     .link a{
      width: 70%;
      margin-top: 12px;
      border-radius: 15px !important;
      text-align: center;
      padding: 8px;
     }
     .divone{
         margin-bottom: 40px;
     }
  }
