*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Quicksand', sans-serif;
}
body{
	background-image:radial-gradient(#EAF7FE,#8ACFFA);
}
#cont{
    position:relative;
    display:flex;
	justify-content:center;
	align-items:center;
	margin:300px auto;
}
#container_1{
	position:absolute;	
	width:400px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-image:radial-gradient(#FCDB45,#E0EBD7);
	/* visibility:hidden; */

}
#heading_1{
	margin:10px;
	 font-size:30px;
}
#heading_2{
    font-size:40px;
    text-align:center;
}

input,#button_1{
	padding:5px 10px;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	margin:10px 0 20px 0;
	border:1px solid #0282E5;	
}
#container_2{
	position:absolute;	
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:90%;
	margin-top:100px;
	display:none;
}
h3{
	margin-top:50px;
	box-shadow:5px 5px 10px #889DA5;
}

#user_string{
	width:100%;
	height:170px;
	background:#BDCCD2;
	border:10px ridge;
	font-size:25px;
	margin-top:20px;
}
#button_2{
	margin-top:15px;
	padding:10px 20px;
	border-radius:10px;
	border-style:none;
	box-shadow:0 0px 40px #083e4e;
	cursor:pointer;
}
