* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background:wheat;
    font-family: "Sofia", sans-serif;
}
#container {
    width: 420px;
    height: 320px;
    background:linear-gradient(#990033, #ff9966);
    margin: 50px auto;
    border-radius: 10px;
}
.content {
	margin-left:-15px;
    padding-top: 20px;
}
#gameover {
    height: 145px;
    width: 370px;
    position: absolute;
    top: 126px;
    margin-left: 33px;
    visibility:hidden;
    background:linear-gradient(#ff9999,#660066);
	border-radius:5px;

}
#gameover p {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: #330066;
    padding: 7px;
}
#scoreBox {
    height: 30px;
    width: 80px;
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
    background: rgb(241, 255, 146);
	visibility:hidden;
}
#score p {
    text-align: center;
    margin-top: 3px;
    font-size: 14px;
	color:black;
	font-weight:bolder;
}
#right {
    height: 30px;
    width: 80px;
    color: white;
    margin-left: 186px;
    position: absolute;
    background:#006600;
	border-radius:5px;
	visibility:hidden;
}
#right p {
    margin-top: 1px;
    text-align: center;
}
#wrong {
    margin-left: 186px;
    margin-bottom: 7px;
    height: 30px;
    width: 80px;
    background:linear-gradient(#660033, #ff0000);
    color:#fff;
    border-radius:5px;
    visibility: hidden;
}
#wrong p {
    display: inline-block;
    margin-top: 3px;
    margin-left: 10px;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
}
#question {
    color: #330033;
    width: 300px;
    height: 100px;
    text-align: center;
    margin-left: 70px;
    clear: both;
    background:linear-gradient(#33CCFF,#000066);
	
	border-radius:5px;
}
#question p {
    text-align: center;
    font-size: 76px;
    font-weight: bold;
	display:inline-block;
	margin-top:-7px;
}
#correctans {
    color:#330014;
    width: 300px;
    height: 40px;
    margin-left: 70px;
    margin-top: 5px;
    background:#ff9966;
	border-radius:5px;
}
#correctans h3 {
    font-size: 14px;
    margin-left: 69px;
    display: inline-block;
    margin-top: 8px;
    font-weight: bolder;
}
#options {
    margin-left: 70px;
    display: flex;

}
 #box1 , #box2, #box3, #box4 {
    height: 60px;
    width: 60px;
    margin-right: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    background:#000066;
	border-radius:5px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    cursor: pointer;
	
}
/* #box1 p, #box2 p, #box3 p, #box4 p { 
    margin-top: 20px;
	font-weight:bolder;
} */
#sr {
    display: flex;
    margin-left: 175px;
    text-align: center;
}
#start {
    width: 90px;
    height: 35px;
    text-align: center;
    position: absolute;
    margin-bottom: 5px;
    background:#4d0000;
    border-radius: 5px;
	 /*display:none;*/
}
#start button {
	font-family: "Sofia", sans-serif;
	text-decoration:none;
    font-size: 13px;
    text-align: center;
    margin-top: 7px;
	color:white;
	background:#4D0000;
	outline:none;
	border:0px solid transparent;
	text-shadow: 0px 0px 0px transparent;
	box-shadow: 0px 0px 0px transparent;
}

#start button:hover{
	cursor:pointer;
	
}


	

               /* #reset {
	             position:absolute;
                width: 90px;
               height: 35px;
                  margin-bottom: 5px;
                  background: #666699;
             border-radius: 5px;
	             display:none;
                }
                  #reset p {
               display: inline-block;
              font-size: 13px;
                   text-align: center;
                  margin-top: 6px;
                    }*/
#timeremaining {
    float: right;
    height: 33px;
    width: 137px;
    color:black;
    margin-right: 10px;
    font-size: 12px;
    //display: none;
    background:wheat;
    border-radius: 3px;
	visibility:hidden;
}
#timeremaining p {
    margin-top: 8px;
    text-align: center;
	color:black;
	font-weight:bolder;
}
