*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'playfair';
}
a{
    text-decoration: none;
}
.container{
    width:1290px;
    /* width:80%; */
    margin:0 auto;
}
.header-top,.header-menu,.social-links{display: flex;}
.header-wrapper{
    background-color:#f2f2f2;
    height:38px;
}
.header-wrapper a{
    color:#393939;
    font-size:11px;
    text-transform: uppercase;
}
.header-top{
    height: inherit;
    justify-content: space-between;
    align-items: center;
}
.header-top .contact-info{}
.icon{
    margin-right: 15px;
}
.header-menu{
    
}
.header-menu .menu-item{
    min-width: 145px;
    border-right: 2px solid #acacac;
    text-align:center;
}

.header-menu .menu-item:last-child{
    border:none;
    text-align: right;
    min-width:72px;
}
.navbar {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .primarymenu{
    display:flex;
    width: 300px;
    justify-content: space-between;
}
.primarymenu .primary-menu-item a{
    color: black;
    font-family: playfair;
    font-style: italic;
    font-size: 18px;
}
.primarymenu .primary-menu-item{
    position: relative;
}
.primarymenu .primary-menu-item:hover .dropdown{
    display: block;
}
.primary-menu-item>.dropdown {
    display: none;
    position: absolute;
    top: 20px;
    left: -10px;
    z-index: 99999;
    background: #fff;
    transition: .5s;
}
.primary-menu-item>.dropdown a {
    padding: 10px;
    display: inline-block;
}
.primarymenu .primary-menu-item a:hover{
    color: #d1a34e;
}
#languageChange {
    width: 90px;
    height: 35px;
    background: black;
    color: white;
    margin-left:30px;
}
.navbar .logo{}
.navbar .social-icon{
    display:flex;
}
.social-icon .social-itmes {
    color: #d9bf8f;
    width: 35px;
    height: 35px;
    border: 1px solid #d9bf8f;
    border-radius: 100%;
    margin: 0 10px 0 0;
}
.social-icon .social-itmes .svg-inline--fa{
    transform: translate(10px, 9px);
}
.social-icon .social-itmes:hover{
    color: black;
    background-color: #d9bf8f;
    border-color: black;
    cursor: pointer;
}
.Rectangle {
    position: absolute;
    height: 0;
    width: 0;
    left: 50%;
    transform: translate(-47%, 0);
    border-top: 60px solid white;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
}
.slider-item{position:relative}
.slider-item .shopnow{
    position: absolute;
    left: 50%;
    bottom: 30%;
    width: 190px;
    height: 50px;
    background: #f09d66;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    border: none;
    outline: none;
    transform: translate(-50%, -30%);
}
.slider-item .shopnow:hover{
    background:#fff;
    color:#d1a34e;
}
.owl-dots {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
}
.owl-dot:focus {
    outline:none;
}
.support{
    display:flex;
    height: 250px;
    align-items: center;
    flex-wrap: wrap;
}
.support img{
    flex-grow: 1;
    width: 33.33%;
}
.title{
    display: flex;
    justify-content: space-between;
    font-family: "playfair";
    font-style: italic;
    font-weight: bold;
    font-size:30px;
}
.horizontal-line-left, .horizontal-line-right{
    width: 25%;
    display: flex;
    align-items: center;
    
}
.horizontal-line-left hr,.horizontal-line-right hr{
    width:100%;
    border-top: 1px solid #eaeaea
}
.horizontal-line-left::after{
    content:url("assets/images/reactangel.png");
    transform: translate(50px, -5px);
}
.horizontal-line-right::before{
    content:url("assets/images/reactangel.png");
    transform: translate(-50px, -5px);
}
.featured{

}

.featured .featured-list{
    display: flex;
    height: 820px;
}
.featured-list .list-item:nth-child(2){
    padding:0 10px;
}
.list-item:nth-child(2) .featured-item{
    height: 100%;
}
.list-item:nth-child(2) .featured-item img{
    height: 97.5%;
}
.featured-item img{
    width: 95%;
    margin-bottom: 10px;
    height: 95%;
    object-fit: fill;
}

.featured-item {
    position: relative;
    height: 50%;

}
.list-item {
    width: 33.33%;
    height:820px;
}
.recent.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eaeaea;
    padding: 5px;
}
.recent-item {
    flex-basis: 25%;
    flex-grow: 1;
    position: relative;
}
.recent-item img{
    width:98%;
    padding:2%;
    height:350px;
    
}
.recent-item button.addtocart{
    width: 212px;
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    font-family: "lato-bold","playfair";
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20%);
    border-bottom: 45px solid #000;
    border-left: 60px solid #f8f8f800;
    border-right: 60px solid transparent;
}
.recent-item button.addtocart>span{
    display: block;
    margin-top:14px;
}
button.addtocart:hover {
    cursor: pointer;
    border-bottom-color: #f0975c;
}
.offer {
    width: 60px;
    height: 60px;
    background: #feab12;
    border-radius: 100%;
    position: absolute;
    left: 10%;
    top: 10%;
}
.offer>span {
    color: #000;
    font-weight: bold;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.recent .recent-item:hover{
    cursor: pointer;
}

.primary-slider.owl-theme .owl-dots .owl-dot span, .primary-slider.owl-theme .owl-dots .owl-dot:hover span {
    border-radius: 0 !important;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    border:none;
    outline:0;
}
.primary-slider.owl-theme .owl-dots .owl-dot.active span, .primary-slider.owl-theme .owl-dots .owl-dot:hover span.owl-theme .owl-dots .owl-dot.active span, .primary-slider.owl-theme .owl-dots .owl-dot:hover span{
    background:#000 !important;
}
.hoverEffect {
    position: absolute;
    background: black;
    opacity: 0;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
}
section.brand {
    margin: 100px auto;
}
div.brand-list {
    margin: 100px auto;
}
.testimonial-wrapper{
    background:#d9bf8f;
}
.testimonial{
    display: flex;
    height:400px;
    color:#fff;
}
.testimonial-list {
    display: flex;
    width: 50%;
    padding: 50px 0;
}
.testimonial-list .customer-img{
    height: 100%;
    width: 250px;
    object-fit: fill;
}
.review-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.review-section .title{
    color:#7f7e7e;
    text-transform: uppercase;
    font-family: 'playfair';
    font-weight: 500;
    font-size:14px;
}
.review-section .customer-name{
    color:#000;
    text-transform: capitalize;
    font-family: 'playfair';
    font-weight: 700;
    font-style: italic;
    font-size:30px;
}
.review-section .customer-review{
    color:#fff;
    text-transform: capitalize;
    font-family: 'playfair';
    font-style: italic;
    font-size:18px;
    width: 70%;
    line-height: 150%;
}.testimonial-list:last-child{
    flex-direction: row-reverse;
}
.testimonial-list:last-child .review-section {
    align-items: flex-end;
}
.testimonial-list:last-child .customer-review {
    text-align:right;
}
footer{
    background-color: #141414;
    border-bottom: 40px solid;
}
footer .footer-top{
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    padding:25px 0;
    border-bottom:1px solid #696969;
}
.footer-top-section{
    display: flex;
    flex-direction: column;
}
.stay-connected{
    width: 50%;
}
.footer-top-section h1{
    color:#fff;
    font-family: 'lato-bold','playfair';
    font-size: 16px;
    text-transform: uppercase;
    padding:25px 0;
}
.footer-top-section>a{
    font-family: 'lato-bold','playfair';
    font-size:14px;
    color:#737373;
    padding: 8px 0;
}
.stay-connected .social-itmes{
    font-size:24px;
    width:50px;
    height: 50px;
    color:#141414;
    background-color: #fff;
    border-radius: 100%;
    padding: 2% 0;
    text-align: center;
    margin-right: 15px;
    transition: .4s;
}
.stay-connected .social-itmes:hover{
    color: #d0a14b;
    font-size: 28px;
    padding: 1% 0;
    border: 1px solid #d0a14b;
    cursor: pointer;    
}
.news-latter small{
    font-style:italic;
    font-weight: normal;
    text-transform: lowercase;
    padding: 0 2px;
}
.news-latter input[type="email"] {
    width: 60%;
    height: 40px;
    border: 2px solid #484848;
    background: #141414;
    padding: 10px 20px;
    color: #fff;
    outline: none;
    border-radius: 3px;
    position: relative;
}
.news-latter input[type="email"]::placeholder {
    font-size: 12px;
    font-family: 'lato','playfair';
    color:#6a6a6a;
}
.news-latter input[type="email"]:focus {
   border-color:#fff;
}
.news-latter form{
    position: relative;
}
.news-latter button {
    position: absolute;
    top: 8%;
    height: 33px;
    background: #323030;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 10px;
    right:40.5%;
    outline: none;
    border: none;
    letter-spacing: 1px;
}
.news-latter button:hover{
    cursor: pointer;
}
footer .footer-bottom{
    min-height: 206px;
    padding-top:25px;
    position: relative;

}
footer .footer-bottom>p{
    color:#696969;
    font-size: 11px;
    font-family: 'lato','playfair';
    width:20%;
}
.footer-bottom .card{
    display: flex;
    padding-top: 25px;
}
.footer-bottom .card .svg-inline--fa {
    width: 30px;
    height: 20px;
    color: #fff;
    margin-right: 20px;
}
section.footer-bottom::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50px, 0);
    border-top: 15px solid #696969;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
.gotoTop{
    height: 40px;
    width: 40px;
    background-color: #0000006e;
    position: sticky;
    bottom: 20%;
    left: 80%;
    border-radius: 10px;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
