*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
}
a{text-decoration: none;}
a:hover{text-decoration: underline;}
/*
body div:first-child{
    background:red;
}
body div:last-child{
    background:green;
    height: 100px;
}*/

body{
    background: #F0F2F5;
    font-size: 17px;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

#logo{
    float: left;
    width: 57%;
    margin-top:180px;
}
#login{
    float:left;
    width:43%;
   
}
#logo img{
    width: 301px;
    height: 106px;
    margin-left: 114px;
}
#logo h3{
    margin-left: 140px;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
#login form input{
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 17px;
    border-radius: 7px;
    margin-bottom: 13px;
    border: 1px solid #DDDFE2;
}

#login form input:focus{
    outline-color:#1877F2;
}
#login form {
    height: 330px;
    width:426px;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 7px -4px;
    
}

#login form input[type='submit']{
    background: #1770E5;
    color: white;
    font-size: 20px;
}
#login form a{
    color:#19A1F6;
    text-align: center;
    display: block;
    font-size: 17px;
    padding-bottom: 10px;
}

#hr{
    border-bottom: 1px solid #dadde1;
}

#login form button{
    background:#36A420;
    color:white;
    display: block;
    padding:0 16px;
    width:196px;
    height: 48px;
    border-radius: 10px;
    border:none;
    font-size: 17px;
    margin:15px auto 0 auto;
/*
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
*/
    

}

#login>p{
    text-align: center;
    width:426px;
    font-size: 14px;
}
#login>p>a{
    color:black;
    font-weight: 700;
}

/*
#login form input:nth-child(3){
    background: #1770E5;
}*/
/*
Home Work
----------
reference
https://www.w3schools.com/css/css_attribute_selectors.asp

*/
