*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-weight: 100;
}
body{
	height:600px;
	background: radial-gradient(circle ,#ffffff,lightskyblue);
	font-family: 'Sofia';
}
.capitalize{
	text-transform: capitalize !important;
	font-weight: bold;
}
.container {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height:100%;
  
}

#UserName {
	
	padding:20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: radial-gradient(#ffcf00, transparent);
	/*display:none;*/
	}
#greeting,#btn{
	padding: 4px;
	margin-top: 5px;
	background: #ffea8d;
	font-size: 18px;
	font-weight: 900;
	border: 1px solid lightskyblue;
	text-align: center;
    outline:none;
}
#heading1{
	margin-bottom:50px;
	display:none;
}
#paragraph{
	text-shadow: 3px 3px 3px #313e3d;
	font-weight: 900;
	display:none;
}
#textarea {
	width: 90%;
	min-height: 100px;
	font-size: 22px;
	font-weight: bold;
    background-color: #bdccd2;
	border: 10px ridge navy;
	padding: 10px;
	margin: 20px 0;
	display:none;
	font-family: 'Sofia';
	outline:none;
	color:nevy;
	
}
#textarea::-webkit-input-placeholder {
color: #5779BD;
}

#btn1{
    padding: 10px 20px;
	box-shadow: 0 0px 40px #083e4e;
	color: #095f3f;
	border-radius: 10px;
	border: none;
	transition: all .5s;
	font-weight: bold;
	font-family: 'Sofia';
	display:none;
}
#btn1:hover,#btn1:focus {
	cursor: pointer;
	outline: none;
	padding: 10px 25px;
	background: #083e4e6b;
	color: white;
	box-shadow: 0 0px 40px #45ff72;
}
