
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
.container,.title{
  width:100%;
}
.header-top{
  flex-direction: column;
  justify-content: center;
}
.header-menu,.primarymenu,.social-icon{
  display: none !important;
}
.navbar .title{
  justify-content: center !important;
}
.navbar .title h1{
  font-size: 20px !important;
}
.navbar,.support,.featured .featured-list,.featured-list .list-item{
  height: auto !important;
}
.support{
  padding:10px;
}
section.title.container h1{
  font-size:1.5rem;
  text-align: center;
}
.horizontal-line-right::before,.horizontal-line-left::after{
  transform: translate(0);
}
.featured .featured-list{
  flex-direction: column;
}
.featured-list .list-item{
  width: 100% !important;
}
.featured-item img{
  width:100%;
  padding: 10px;
}

  
}
