*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width: 1050px;
	margin:0 auto;
}
.box{
	margin:25px auto;
}
.divone{
	float:left;
}
.divtwo{
	float:right;
}
.clear{
	clear:both;
}
.divone h1{
	color:#861BBF;
	font-size:45px;
	font-weight:100;
}
.divtwo form {
	height:75px;
	width:450px;
	padding:20px;
	background-color:#C8EC7B;
}
.divtwo form input{
	padding:8px;
	width:240px;
}
.divtwo form input[type=text]{
	background: white url(images/search.png);
	background-repeat:no-repeat;
	background-position:right;
	border-color:#C8D03E;
}
.divtwo button{
	margin-left:50px;
	padding:7px;
	background:#A751D6;
	color:white;
	font-size:15px;
	font-weight:bold;
	border-style:none;
}
.divthree{
    background-image:linear-gradient(#F6F38F,#D6D637);
	margin:25px 0;
	height:80px;
}
.divthree ul li{
	list-style:none;
	display:inline-block;
	padding:7px;
	padding-top:30px;
	:10px;
}
.divthree ul li a{
	padding:0 20px;
	text-decoration:none;
	font-size:20px;
	color:#681BBF;
	border-right:1px solid #681BBF;
	transition:.50s;
}
.divthree ul li:last-child a{
	border-right:none;
}
.divthree ul li a:hover{
	font-size:25px;
}
.divfour{
	background-image:linear-gradient(#E2F1B5,#B9E956);
	height:350px;
	overflow: hidden;
}	
.divfour h1{
	font-size:45px;
	color:#316901;
	padding-top:55px;
	padding-left:20px;
	font-weight:100;
}
.divfour p{
	color:#688F19;
	font-size:29px;
	padding:45px 10px 10px 20px;
}

.divfive {
	height:500px;
	width:510px;
	border:1px solid #E5F2BB;;
	float:left;
	border-radius:10px;
	
}
.divsix{
	height:500px;
	width:510px;
	border:1px solid #E5F2BB;;
	float:right;
	border-radius:10px;	
}
.divfive h1{
	color:#8E008B;
	padding:50px 0 30px 20px;
	
    	
}
	
.divsix h1{
   color:#8E008B;
   padding:50px 0 30px 20px;   
}

.divfive ul li a{
	text-decoration:none;
	color:#861BBF;
	line-height:30px;
	transition:.50s;
	
}
.divfive ul li{
	list-style:none;
	font-size:18px;
	padding-left:70px;
	
}
.divfive ul li a:hover{
	font-size:25px;
}

.divsix ul li a{
	text-decoration:none;
	font-size:18px;
	line-height:50px;
	color:#861BBF;
	transition:.50s;
}	
.divsix ul li a:hover{
	font-size:25px;
}
.divsix ul li{
	padding-left:70px;
	list-style:none;
	font-size:18px; 
	
}
.divfive ul, .divsix ul{
	margin-left:30px;
}


.footer p{
	height:85px;
	padding:35px;
	
}
.footer{
	margin:25px auto;
	background-image:
	linear-gradient(#F6F38E,#D4D43C);
}

.divfive:first-child ul li{
	background-image:url(images/arrow.png);
	background-repeat:no-repeat;
}
.divsix:last-child ul li{
	background-image:url(images/tick.png);
	background-repeat:no-repeat;
}

.owl-prev,.owl-next{
	position: absolute;
	top:50%;
	transform: translate(0,-50%);
	color: #fff !important;
	font-size: 35px !important;
	width: 25px;
	height: 60px;
	background: #0000004d !important;
	display: inline-block !important;
	border-radius: 0 !important;
	margin: 0 !important;
	outline:none;
	transition: all .2s;

}
.divfour:hover .owl-prev{
	left:0;
}
.divfour:hover .owl-next{
	right:0;
}
.owl-prev{
	left:-25px;
}
.owl-next{
	right:-25px;
}
.owl-dot.active span{
	background:#fff !important;
	border: 2px solid  #861BBF;
}
.owl-dot{
	outline:none;
}

	 
